src/main/mule/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="765ae092-64b8-457b-a995-2a6afee42687" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="choiceFlow" doc:id="66115d36-dfdf-4a77-9278-6d03f4097cd4" >
		<http:listener doc:name="Listener" doc:id="b47cdbf0-7158-451e-ba19-e4baab071313" config-ref="HTTP_Listener_config1" path="/choice"/>
		<set-variable value="#[attributes.queryParams.country]" doc:name="Set Variable" doc:id="2cbe128f-064e-46d9-aa0a-2052a8517b23" variableName="countryname"/>
		<choice doc:name="Choice" doc:id="b1b6a78a-68f6-402e-bb98-152ffbd4bd81" >
			<when expression='#[vars.countryname == "india"]'>
				<logger level="INFO" doc:name="Logger" doc:id="ea42a1b5-9c9c-4967-b581-e1f8e8f0437a" message="the country is indaia"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="b7424dcf-9d09-4380-af69-246d515a6eae" message="this is default us"/>
			</otherwise>
		</choice>
	</flow>
</mule>
